In [5]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv('C:/Users/adria/tasca train test/DelayedFlights.csv',sep=',',engine='python' ,index_col=0)

In [3]:
data.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

## Nivell 1
### Exercici 1
Parteix el conjunt de dadesDelayedFlights.csv en train i test. Estudia els dos conjunts per separat, a nivell descriptiu

In [9]:
train,test = train_test_split(data)

In [10]:
train.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3567147,2008,6,9,1,1824.0,1740,2145.0,2111,CO,1890,...,6.0,13.0,0,N,0,34.0,0.0,0.0,0.0,0.0
6194405,2008,11,29,6,1233.0,1000,1711.0,1454,US,1018,...,5.0,20.0,0,N,0,137.0,0.0,0.0,0.0,0.0
3755315,2008,7,24,4,1401.0,1340,1613.0,1602,YV,2879,...,8.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1538335,2008,3,7,5,2051.0,2009,2237.0,2154,FL,667,...,8.0,13.0,0,N,0,0.0,0.0,1.0,0.0,42.0
5102453,2008,9,26,5,1802.0,1755,2040.0,2042,US,179,...,6.0,29.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [11]:
test.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6313268,2008,11,3,1,2049.0,2029,2231.0,2215,MQ,4891,...,4.0,31.0,0,N,0,16.0,0.0,0.0,0.0,0.0
6643363,2008,12,28,7,1523.0,1508,1656.0,1640,OO,5930,...,14.0,12.0,0,N,0,0.0,0.0,1.0,0.0,15.0
4798164,2008,8,8,5,1205.0,1150,1431.0,1423,CO,1726,...,2.0,20.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1870319,2008,4,27,7,1919.0,1905,2032.0,2020,WN,442,...,3.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
528005,2008,1,17,4,717.0,645,838.0,800,AA,2401,...,4.0,13.0,0,N,0,32.0,0.0,6.0,0.0,0.0

In [12]:
train.shape

(1452568, 29)

In [13]:
test.shape

(484190, 29)

In [14]:
print('percentatge del dataset en el train {:.0f}%'.format((train.shape[0]/data.shape[0])*100))

percentatge del dataset en el train 75%

In [15]:
print('percentatge del dataset en el test {:.0f}%'.format((test.shape[0]/data.shape[0])*100))

percentatge del dataset en el test 25%

DescripciÃ³ de la particiÃ³ en el conjunt de train

In [16]:
train.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1452568.0,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.447171e+06,1.452568e+06,1.452568e+06,1.446230e+06,...,1.452568e+06,1.447171e+06,1.452213e+06,1.452568e+06,1.452568e+06,935336.000000,935336.000000,935336.000000,935336.000000,935336.000000
mean,2008.0,6.108818e+00,1.575702e+01,3.984587e+00,1.518644e+03,1.467572e+03,1.610319e+03,1.634362e+03,2.183870e+03,1.333557e+02,...,7.660640e+02,6.809334e+00,1.824125e+01,3.338914e-04,4.029415e-03,19.187044,3.718075,15.041394,0.089635,25.303293
std,0.0,3.482219e+00,8.774252e+00,1.995485e+00,4.504114e+02,4.247131e+02,5.482170e+02,4.647413e+02,1.944308e+03,7.211035e+01,...,5.749333e+02,5.272753e+00,1.435285e+01,1.826965e-02,6.334968e-02,43.753298,21.621840,33.891964,2.029845,42.121368
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.400000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,8.000000e+01,...,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.706000e+03,1.543000e+03,1.160000e+02,...,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,2.000000,0.000000,2.000000,0.000000,8.000000
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.031000e+03,2.015000e+03,3.422000e+03,1.650000e+02,...,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,21.000000,0.000000,15.000000,0.000000,33.000000
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.741000e+03,1.114000e+03,...,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,1.000000e+00,2436.000000,1352.000000,1337.000000,392.000000,1316.000000

DescripciÃ³ del dataset en el conjunt de test

In [17]:
test.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,484190.0,484190.000000,484190.000000,484190.000000,484190.000000,484190.000000,482477.000000,484190.000000,484190.000000,482141.000000,...,484190.000000,482477.000000,484090.000000,484190.000000,484190.000000,312152.000000,312152.000000,312152.000000,312152.000000,312152.000000
mean,2008.0,6.117970,15.742822,3.985549,1518.204616,1467.174200,1609.605295,1633.812997,2185.442085,133.156384,...,764.552653,6.823898,18.205063,0.000306,0.003926,19.156491,3.660111,14.962432,0.091641,25.276010
std,0.0,3.483524,8.782329,1.997410,450.706940,424.928047,548.061706,464.315140,1945.887010,71.908894,...,573.115558,5.276109,14.295475,0.017481,0.062536,42.919758,21.101803,33.655895,2.001198,41.855008
min,2008.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,15.000000,...,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,3.000000,8.000000,2.000000,1203.000000,1135.000000,1316.000000,1325.000000,612.000000,80.000000,...,338.000000,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.0,6.000000,16.000000,4.000000,1545.000000,1510.000000,1715.000000,1705.000000,1544.000000,116.000000,...,606.000000,6.000000,14.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,8.000000
75%,2008.0,9.000000,23.000000,6.000000,1900.000000,1815.000000,2030.000000,2014.000000,3424.000000,165.000000,...,997.000000,8.000000,21.000000,0.000000,0.000000,21.000000,0.000000,14.000000,0.000000,33.000000
max,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.000000,9742.000000,727.000000,...,4962.000000,200.000000,393.000000,1.000000,1.000000,1490.000000,1080.000000,1357.000000,254.000000,983.000000

En els resultat  veiem que comparteixen les mateixes caracteristiques exepte en el count

## Nivell 2
### Exercici 2
Aplica algun procÃ©s de transformaciÃ³ (estandarditzar les dades numÃ¨riques, crear columnes dummies, polinomis...).

In [18]:
train.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3567147,2008,6,9,1,1824.0,1740,2145.0,2111,CO,1890,...,6.0,13.0,0,N,0,34.0,0.0,0.0,0.0,0.0
6194405,2008,11,29,6,1233.0,1000,1711.0,1454,US,1018,...,5.0,20.0,0,N,0,137.0,0.0,0.0,0.0,0.0
3755315,2008,7,24,4,1401.0,1340,1613.0,1602,YV,2879,...,8.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1538335,2008,3,7,5,2051.0,2009,2237.0,2154,FL,667,...,8.0,13.0,0,N,0,0.0,0.0,1.0,0.0,42.0
5102453,2008,9,26,5,1802.0,1755,2040.0,2042,US,179,...,6.0,29.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [19]:
## Observem quans registres estan buits
train.isna().sum()

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                5397
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   3
ActualElapsedTime      6338
CRSElapsedTime          149
AirTime                6338
ArrDelay               6338
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 5397
TaxiOut                 355
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         517232
WeatherDelay         517232
NASDelay             517232
SecurityDelay        517232
LateAircraftDelay    517232
dtype: int64

In [20]:
## Per comenÃ§ar a estandaritzar i transformar la data primer separem en 2 grups les dades categoriques i les numÃ¨riques
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1452568 entries, 3567147 to 6038901
Data columns (total 29 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Year               1452568 non-null  int64
 1   Month              1452568 non-null  int64
 2   DayofMonth         1452568 non-null  int64
 3   DayOfWeek          1452568 non-null  int64
 4   DepTime            1452568 non-null  float64
 5   CRSDepTime         1452568 non-null  int64
 6   ArrTime            1447171 non-null  float64
 7   CRSArrTime         1452568 non-null  int64
 8   UniqueCarrier      1452568 non-null  object
 9   FlightNum          1452568 non-null  int64
 10  TailNum            1452565 non-null  object
 11  ActualElapsedTime  1446230 non-null  float64
 12  CRSElapsedTime     1452419 non-null  float64
 13  AirTime            1446230 non-null  float64
 14  ArrDelay           1446230 non-null  float64
 15  DepDelay           1452568 non-null  float64
 16  Origin             1452568 non-null  object
 17  Dest               1452568 non-null  object
 18  Distance           1452568 non-null  int64
 19  TaxiIn             1447171 non-null  float64
 20  TaxiOut            1452213 non-null  float64
 21  Cancelled          1452568 non-null  int64
 22  CancellationCode   1452568 non-null  object
 23  Diverted           1452568 non-null  int64
 24  CarrierDelay       935336 non-null   float64
 25  WeatherDelay       935336 non-null   float64
 26  NASDelay           935336 non-null   float64
 27  SecurityDelay      935336 non-null   float64
 28  LateAircraftDelay  935336 non-null   float64
dtypes: float64(14), int64(10), object(5)
memory usage: 332.5+ MB

In [21]:
## Veiem que els 5 ultims registres son els que tenen mÃ©s volum de registres buits o NA
## determinem si son suficientment grans com per eliminar completament la columna
## El volum de registres buits o NA suposa un 35% del total de registres per tant no son suficients com per eliminar per complet
#la columna

print('Total of empty rows: {:.0f}%'.format((train['NASDelay'].isna().sum()/train.shape[0])*100))

Total of empty rows: 36%

In [22]:

train_numerical= train.select_dtypes(exclude='object')
train_categorical = train.select_dtypes(include='object')

In [23]:
train_categorical.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1452568 entries, 3567147 to 6038901
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   UniqueCarrier     1452568 non-null  object
 1   TailNum           1452565 non-null  object
 2   Origin            1452568 non-null  object
 3   Dest              1452568 non-null  object
 4   CancellationCode  1452568 non-null  object
dtypes: object(5)
memory usage: 66.5+ MB

In [24]:
train_numerical.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1452568 entries, 3567147 to 6038901
Data columns (total 24 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Year               1452568 non-null  int64
 1   Month              1452568 non-null  int64
 2   DayofMonth         1452568 non-null  int64
 3   DayOfWeek          1452568 non-null  int64
 4   DepTime            1452568 non-null  float64
 5   CRSDepTime         1452568 non-null  int64
 6   ArrTime            1447171 non-null  float64
 7   CRSArrTime         1452568 non-null  int64
 8   FlightNum          1452568 non-null  int64
 9   ActualElapsedTime  1446230 non-null  float64
 10  CRSElapsedTime     1452419 non-null  float64
 11  AirTime            1446230 non-null  float64
 12  ArrDelay           1446230 non-null  float64
 13  DepDelay           1452568 non-null  float64
 14  Distance           1452568 non-null  int64
 15  TaxiIn             1447171 non-null  float64
 16  TaxiOut            1452213 non-null  float64
 17  Cancelled          1452568 non-null  int64
 18  Diverted           1452568 non-null  int64
 19  CarrierDelay       935336 non-null   float64
 20  WeatherDelay       935336 non-null   float64
 21  NASDelay           935336 non-null   float64
 22  SecurityDelay      935336 non-null   float64
 23  LateAircraftDelay  935336 non-null   float64
dtypes: float64(14), int64(10)
memory usage: 277.1 MB

In [25]:
## standerizem  numerical_data amb StandardScaler
## primer substituim tots els valors nulls per la mitjana
for k in train_numerical:
    if train_numerical[k].isnull().values.any() == True:
        train_numerical[k] = train_numerical[k].fillna(round(train_numerical[k].mean()))

<ipython-input-25-65e9325e70a5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_numerical[k] = train_numerical[k].fillna(round(train_numerical[k].mean()))

In [31]:
sc = StandardScaler()
continuous_vars =train_numerical[['DepTime','CRSDepTime','ArrTime','CRSArrTime','FlightNum','ActualElapsedTime','CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Distance','TaxiIn', 'TaxiOut', 'CarrierDelay','WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]
train[continuous_vars.columns]= sc.fit_transform(continuous_vars)

In [32]:
fe = train.groupby('DayofMonth').size()/len(train)
train.loc[:,'Day_freq_encode'] = train['DayofMonth'].map(fe)

In [33]:
# convertim a One Hot Encoding  la columna UniqueCarrier
dum = pd.get_dummies(train['UniqueCarrier'])
train = pd.concat([train, dum], axis=1)

KeyError: 'UniqueCarrier'

In [34]:
train.drop('UniqueCarrier',inplace=True,axis=1)

KeyError: "['UniqueCarrier'] not found in axis"

In [35]:
train.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,TailNum,...,HA,MQ,NW,OH,OO,UA,US,WN,XE,YV
3567147,2008,6,9,1,0.677949,0.641440,0.977128,1.025599,-0.151144,N16301,...,0,0,0,0,0,0,0,0,0,0
6194405,2008,11,29,6,-0.634185,-1.100913,0.183996,-0.388091,-0.599633,N202UW,...,0,0,0,0,0,0,1,0,0,0
3755315,2008,7,24,4,-0.261192,-0.300373,0.004901,-0.069634,0.357521,N97325,...,0,0,0,0,0,0,0,0,0,1
1538335,2008,3,7,5,1.181933,1.274809,1.145258,1.118124,-0.780160,N276AT,...,0,0,0,0,0,0,0,0,0,0
5102453,2008,9,26,5,0.629105,0.676758,0.785241,0.877130,-1.031149,N605AW,...,0,0,0,0,0,0,1,0,0,0

## Nivell 3
### Exercici 3
Resumeix les noves columnes generades de manera estadÃ­stica i grÃ fica

In [39]:
train.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,TailNum,...,HA,MQ,NW,OH,OO,UA,US,WN,XE,YV
4823675,2008,8,11,1,-3.022209,1.548183,-2.369252,1.314872,-0.246818,N23707,...,0,0,0,0,0,0,0,0,0,0
119008,2008,1,21,1,1.306255,1.324508,1.125702,1.258902,0.349608,N13969,...,0,0,0,0,0,0,0,0,1,0
630784,2008,2,10,7,-0.658202,-0.747423,-0.192218,-0.385771,-1.043766,N486WN,...,0,0,0,0,0,0,0,1,0,0
2907826,2008,5,22,4,0.029913,0.135502,0.078312,0.034008,-0.189232,N493AA,...,0,0,0,0,0,0,0,0,0,0
6691767,2008,12,11,4,-1.324119,-1.474953,-0.888650,-1.251161,-0.314687,N486UA,...,0,0,0,0,0,1,0,0,0,0

In [38]:
train.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,HA,MQ,NW,OH,OO,UA,US,WN,XE,YV
count,1452568.0,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,...,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06,1.452568e+06
mean,2008.0,6.108818e+00,1.575702e+01,3.984587e+00,-2.235460e-17,-1.388098e-16,1.793645e-16,5.949691e-17,-2.377830e-17,7.405264e-16,...,3.867633e-03,7.341412e-02,4.097571e-02,2.721731e-02,6.838509e-02,7.308160e-02,5.073910e-02,1.948439e-01,5.353553e-02,3.467789e-02
std,0.0,3.482219e+00,8.774252e+00,1.995485e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,6.206994e-02,2.608151e-01,1.982340e-01,1.627162e-01,2.524057e-01,2.602705e-01,2.194645e-01,3.960806e-01,2.250989e-01,1.829627e-01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,-3.369463e+00,-3.455444e+00,-2.941019e+00,-3.516715e+00,-1.122698e+00,-1.658783e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,-7.007905e-01,-7.830515e-01,-5.360367e-01,-6.656649e-01,-8.094762e-01,-7.415155e-01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,5.851552e-02,9.989776e-02,1.894784e-01,1.541463e-01,-3.296137e-01,-2.411878e-01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,8.466841e-01,8.180298e-01,7.669664e-01,8.190327e-01,6.367974e-01,4.398138e-01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,1.956781e+00,2.098895e+00,1.443139e+00,1.647451e+00,3.886799e+00,1.362901e+01,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00